.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 37px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 173px;
  background-image: none;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-1 .u-group-1 {
  width: 731px;
  min-height: 92px;
  margin: 21px 117px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 0.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 42px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto -70px 54px;
  padding: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 226px;
  margin: -113px auto 0 42px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 92px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 -4px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 21px -1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 -4px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 21px -1px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 -4px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 21px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: 81px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: 81px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: 80px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 43px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}