{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block questionSection %}

{% include "my_modals.html" %}

<h1 class="display-3">{{ question.title }}</h1>

<ul class="list-group list-group-horizontal">
	<li class="list-group-item">Asked: {{ question.date_created }}</li>
	<li class="list-group-item">Viewed {{ question.question_views }} times</li>
</ul>

<div class="container">
  <div class="row">
	    <div class="col-1">
	      	<div class="btn-group-vertical" role="group">
					  <a href="#">
					  	<i class="bi bi-caret-up"></i>
					  </a>
					  <h4>{{ question.up_votes }}</h4>
					  <a href="#">
					  	<i class="bi bi-caret-down"></i>
					  </a>
				</div>
	    </div>
	    <div class="col-11">
	    <ul class="list-group list-group">
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div>
							{{ question.content }}
						</div>
						<div class="d-flex flex-row-reverse bd-highlight">
						  <a href="#"> <div class="p-2 bd-highlight">{{ question.user }}</div> </a>
						</div>
					</li>

					<div class="btn-group" role="group">
             <ul class="list-group list-group-horizontal">
								{% for tag in question.tags.all %}
									<li class="list-group-item">
	                  <a href="/question/tags/{{tag}}">
		                  	<button type="button" class="btn btn-outline-primary btn-sm">
				                  {{ tag }} 
				                </button>
	                  </a>
		              </li>
               {% endfor %}
						</ul>
          </div>

          <div class="btn-group" role="group">
		         <ul class="list-group list-group-horizontal">
								{% if request.user.is_authenticated %}
									<li class="list-group-item">
										<a href="#" >Share</a>
									</li>
									<li class="list-group-item">
										<a href="/question/edit/{{question.id}}/">Edit</a>
									</li>
									<li class="list-group-item">
										<a href="#">Close</a>
									</li>
									<li class="list-group-item">
										<a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" 
										    onclick="return js_add_delete_onclick('/question/delete/{{question.id}}/');">
										    Delete
										  </a>
									</li>
									<li class="list-group-item">
										<a href="#" title="Add notification for this question" data-bs-toggle="modal" 
												data-bs-target="#notifyModal" 
												onclick="return js_add_question_notify('{{question.id}}');">
											Notification
										</a>
									</li>
								{% else %}
									<li class="list-group-item">
										<a href="/account/login/">Sign in to see actions</a>
									</li>
								{% endif %}
						 </ul>
          </div>

          <div class="btn-group" role="group">
		         <ul class="list-group">
		         		{% for qc in questionComments %}
		         			{% if not qc.is_deleted %}
			         			<li class="list-group-item">
				         			<div class="btn-group" role="group">
				         				<h8>{{ qc.up_votes }}</h8>
											  <a href="#">
											  	<i class="bi bi-caret-up"></i>
											  </a>
											</div>
				         			
				         			 <div id="question_comment_content_{{qc.id}}">{{ qc.content }}</div>
				         			<div class="d-flex flex-row-reverse bd-highlight">
											  <a href="#"> <div class="p-2 bd-highlight">{{ qc.user }}</div> </a>
											</div>
				         		</li>
	         		     {% if request.user == question.user %}
	         		     	<div class="btn-group" role="group">
						         <ul class="list-group list-group-horizontal">
												<li class="list-group-item">
													<a href="#" id="editQuestionCommentLink" 
													 	data-bs-toggle="modal" data-bs-target="#editQuestionCommentModal"
													 	onclick="return js_get_comment({{question.id}}, {{qc.id}});">
																Edit
													</a>
												</li>
												<li class="list-group-item">
													<a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" 
													    onclick="return js_add_delete_onclick('/question/comment/delete/{{question.id}}/{{qc.id}}/');">
													    Delete
													  </a>
												</li>
										 </ul>
				          	</div>
	         		     {% endif %}
         		     {% endif %}

		         		{% endfor %}
								<li class="list-group-item">
									<form action="/question/comment/new/{{question.id}}/" method="POST">
										{% csrf_token %}
										<div class="form-group">
											<label for="question_comment_textarea">Add a comment:</label>
											<textarea id="question_comment_textarea" class="form-control" 
													name="content" placeholder="add comment here..." cols="70" required></textarea>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-primary" name="submit" value="Submit">
										</div>
									</form>
								</li>
						 </ul>
          </div>

			</ul>
	    </div>
  </div>

  <h1 class="display-3"> Answers</h1>

  <!-- list the answers to the question -->
  <hr>
  {% if question.number_of_answers > 0 %}
  	{% for answer in answers %}	
  			<hr>
				<div class="row">
			    <div class="col-1">
			      	<div class="btn-group-vertical" role="group">
						  <a href="#">
						  	<i class="bi bi-caret-up"></i>
						  </a>
						  <h4>{{ answer.up_votes }}</h4>
						  <a href="#">
						  	<i class="bi bi-caret-down"></i>
						  </a>
					</div>
			    </div>
			    <div class="col-11">
			    <ul class="list-group list-group">
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div>
									{{ answer.content }}
								</div>
								<div class="d-flex flex-row-reverse bd-highlight">
								  <a href="#"> <div class="p-2 bd-highlight">{{ answer.user }}</div> </a>
								</div>
							</li>

		          <div class="btn-group" role="group">
		             <ul class="list-group list-group-horizontal">
		             	  {% if request.user.is_authenticated %}
											<li class="list-group-item">
												<a href="#">Share</a>
											</li>
											<li class="list-group-item">
												<a href="#" id="editAnswerLink" 
													data-bs-toggle="modal" data-bs-target="#editAnswerModal" 
													onclick="return js_get_answer({{question.id}}, {{answer.id}});">
													Edit
												</a>
											</li>
											<li class="list-group-item">
												<a href="#">Close</a>
											</li>
											<li class="list-group-item">
												<a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" 
												    onclick="return js_add_delete_onclick('/question/answer/delete/{{question.id}}/{{answer.id}}/');">
												    Delete
												  </a>
											</li>
											<li class="list-group-item">
												<a href="#" title="Add notification for this question" data-bs-toggle="modal" 
														data-bs-target="#notifyModal" 
														onclick="return js_add_answer_notify('{{question.id}}','{{answer.id}}');">
													Notification
												</a>
											</li>
										{% else %}
											<li class="list-group-item">
												<a href="/account/login/">Sign in to see actions</a>
											</li>
										{% endif %}
								</ul>
		          </div>

		          <div class="btn-group" role="group">
				         <ul class="list-group">
				         	<!-- https://docs.djangoproject.com/en/dev/topics/db/queries/#following-relationships-backward -->
				         		{% for answerComment in answer.answercomment_set.all %}
				         			{% if not answerComment.is_deleted %}
						         			<li class="list-group-item">
							         			<div class="btn-group" role="group">
							         				<h8>{{ answerComment.up_votes }}</h8>
														  <a href="#">
														  	<i class="bi bi-caret-up"></i>
														  </a>
														</div>
							         			{{ answerComment.content }}
							         			<div class="d-flex flex-row-reverse bd-highlight">
														  <a href="#"> 
														  	<div class="p-2 bd-highlight">{{ answerComment.user }}</div> 
														  </a>
														</div>
							         		</li>

							         		{% if request.user == answerComment.user %}
							         			<div class="btn-group" role="group">
										         <ul class="list-group list-group-horizontal">
																<li class="list-group-item">
																	<a href="#" id="editAnswerCommentLink" 
																	data-bs-toggle="modal" data-bs-target="#editAnswerCommentModal" 
															onclick="return js_get_answer_comment({{question.id}}, {{answerComment.id}});">
																		Edit
																	</a>
																</li>
																<li class="list-group-item">
																	<a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" 
																	    onclick="return js_add_delete_onclick('/question/answer/comment/delete/{{question.id}}/{{answerComment.id}}/');">
																	    Delete
																	  </a>
																</li>
														 </ul>
								          	</div>
					         			{% endif %}

					         		{% endif %}
				         		{% endfor %}
										<li class="list-group-item">
											<form action="/question/answer/comment/new/{{question.id}}/{{answer.id}}/"     method="POST">
												{% csrf_token %}
												<div class="form-group">
													<label for="question_comment_textarea">Add a comment:</label>
													<textarea id="question_comment_textarea" class="form-control" 
															name="content" placeholder="add comment here..." cols="70" required></textarea>
												</div>
												<div class="form-group">
													<input type="submit" class="btn btn-primary" name="submit">
												</div>
											</form>
										</li>
								 </ul>
          		</div>

					</ul>
			    </div>
		  </div>
  	{% endfor %}
  {% endif %}

  <hr>
  <h1>Answer the question here</h1>
  <div class="row">
  	<form action="/question/answer/{{question.id}}/" method="POST">
				{% csrf_token %}
				<div class="mb-3">
					<label for="answer"> Your Answer: </label>
					<textarea id="answer" class="form-control" name="content" rows="10"></textarea>
				</div>
				<div class="mb-3">
				  <input type="submit" class="btn btn-primary mb-3" name="submit" 
				  	value="Answer this Question">
				</div>
		</form>
  </div>

</div>

{% endblock questionSection %}