{% extends 'base.html' %}


{% block questionSection %}

<ul class="list-group list-group">

      {% for post in posts %}
      <li class="list-group-item d-flex justify-content-between align-items-start">

         <ul class="list-group">
            <li class="list-group-item"> 
               <span class="badge bg-primary rounded-pill"> {{ post.post_views }} views</span> 
            </li>
           <li class="list-group-item"> 
               <span class="badge bg-primary rounded-pill"> {{ post.number_of_answer }} answers</span> 
            </li>
            <li class="list-group-item"> 
               <!-- TODO: You must implement subtract filters for this. -->
               <span class="badge bg-primary rounded-pill"> {x} votes</span> 
            </li>
         </ul>

          <div class="ms-2 me-auto">
            <div class="fw-bold"> <a href="detail/{{ post.id }}">{{post.title}}</a> </div>
            <span class="d-inline-block text-truncate" style="max-width: 100%;">
               {{post.content}}
            </span><br>
            
            <div class="btn-group" role="group" aria-label="Basic example">

               {% for tag in post.tags.all %}
                  <button type="button" class="btn btn-outline-primary btn-sm"> {{ tag }} </button>
               {% endfor %}
            </div>

            <p class="text-end">
               <button type="button" class="btn btn-link"> {{ post.user }} </button>
               <span>{{post.date_created}}</span>
            </p>
          </div>
      
         </li>
      {% endfor %}
      
</ul>
{% endblock questionSection %}