<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username">
            <br>

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password">
            <br>

            <input type="submit" name="submit" value="Login In">
        </form>
    </body>
</html>